body {
    background-color: rgb(61, 61, 61);
    text-align: center;
    font-size: 200%;
    color:white;
    margin: 0;
    width: 100%;
    height: 100%;
}

.toppingbutton {
    width: 200px;
    margin:auto;
    background-color: #afa84c;
    border: 8px solid rgb(61, 61, 61);
    border-radius: 20px;
    color: rgb(61, 61, 61);
    padding: 4px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    display: block;
}
.button {
  width: 200px;
  margin:auto;
  background-color: #afa84c;
  border: 8px solid rgb(61, 61, 61);
  border-radius: 20px;
  color: rgb(61, 61, 61);
  padding: 24px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  display: block;
}

.toppingbutton:hover {
  background-color: darkgoldenrod;
}

.button:hover {
  background-color: darkgoldenrod;
}

.button:focus {
  background-color: darkgray;
}

.row {
  display: flex;
}
  
.column {
  flex: 33%;
}

.button+.button {
  margin-top: 10px;
}

.toppingbutton+.toppingbutton {
  margin-top: 10px;
}
