body {
    background-color: white;
    text-align: center;
    font-size: 300%;
    color:rgb(61, 61, 61);
    margin: 0;
    width: 100%;
    height: 100%;
}

.button {
    width: 400px;
    margin:auto;
    background-color: #afa84c;
    border: 6px solid rgb(61, 61, 61);
    border-radius: 40px;
    color: rgb(61, 61, 61);
    padding: 32px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    display: block;
}

.button:hover {
    background-color: darkgray;
}
.button+.button {
    margin-top: 10px;
  }